@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
/*
    1- font-family: 'Julius Sans One', sans-serif;
    2- font-family: 'Martel Sans', sans-serif;
*/

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E9E9E9;
    font-family: 'Martel Sans', sans-serif;
}

ul li{
    list-style: none;
}

p{
    margin: 0;
    padding: 0;
}

.font-martel{
    font-family: 'Martel Sans', sans-serif;
}

.font-julius{
    font-family: 'Julius Sans One', sans-serif;
}

/********************************
        ESTILOS GERAIS
*****************************/
.f-p1{
    font-size: 0.8rem;
}

/********************************
        ESTILOS GERAIS
*****************************/
.full{
    width: 100%;
    height: 100%;
}

.te-0{
    top: 0;
    left: 0;
}

.bg-branco{
    background: #FFF;
}

.color-white{
    color: white;
}

.bg-cinza{
    /*background: #050510;*/
    background: #E9E9E9;
}

.bg-cinza-escuro{
    background: #333;
}

.color-cinza-escuro{
    color: #333;
}

.bg-laranja{
    background: #ffcc3e;
}

.color-laranja{
    color: #ffcc3e;
}

.bg-azul{
    background: #00a3d5;
}

.color-azul{
    color: #00a3d5;
}

.bg-verde{
    background: #2FA61F;
}

.color-verde{
    color: #2FA61F;
}

.bg-vermelho{
    background: #BA1C1C;
}

.color-vermelho{
    color: #BA1C1C;
}

.txt{
    color: #FFF;
    font-size: 0.7em;
}

.form-label-1{
    margin-top: -3rem;
}

/**********************************

***********************************/

.container{

}

.inputs{
    width: 200px;
}
.header img{
    width: 250px;
}
.inputs button{
    transition: all .2s linear;
}
.options a{
    width: 200px;
    font-size: .9em;
}
.aviso{
    color: #f5deb3;
}
.user-img{
    width: 40px;
}
.menu-btn{
    width: 30px;
}

.username{
    color: #fff;
}

.opt{
    text-align: center;
    min-width: 60%;
    max-width: 60%;
    font-size: 1em;
}

.title h5{
    color: rgb(124, 124, 124);
}
.title hr{
    width: 50%;
    height: 2px;
    margin: auto;
}
.menu-opts{
    /*border-radius: 0 0 25px 25px;*/
    z-index: 99999;
}

.icons-div{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    background: #FFF;
    color: #212529;
    text-align: center;
    white-space: nowrap;
}

.icon-search{
    color: var(--clr-white);
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

.bottom{
    position: absolute;
    bottom: 0;
}

/*********************************
    ESTILOS GERAIS PARA STATUS
**********************************/
.status-bloco{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border-bottom: 5px solid #0A0917;
}

.selecionado:active{
    background: #ffcc3e;
}

.ocupado{
    background: #333;
}

.rodape{
    width: 100%;
    height: 60px;
}

.s-botao{
    width: 200px;
    height: 100px; 
}
































